In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime, time

import modutils

#data_dir = '../DataSets/Churn/'
src_dir = '../DataSets/kkbox/churn/raw/'
dst_dir = '../DataSets/kkbox/churn/proc/'
data_fn = 'members_v3.csv'

dst_members = 'members.csv'
dst_uids = 'uids.csv'

In [2]:
src = pd.read_csv(src_dir+data_fn)

In [6]:
src = src.sort_values('msno')

In [7]:
src[:10]

,msno,city,bd,gender,registered_via,registration_init_time
3664809,+++4vcS9aMH7KWdfh5git6nA5fC5jjisd5H/NcM++WM=,12,27,female,9,20090619
1233148,+++5EL4GxAvkaQctwqinyuJhkHEofaKoP2EMm0EoRAo=,6,33,male,3,20140416
4436187,+++A5IxXtG7Qtf8jDzxPT3J2urTd5HyB316rrLG6PtU=,1,17,male,3,20140921
5154284,+++EI4HgyhgcJHIPXk/VRP7bt17+2joG39T6oEfJ+tc=,1,0,NaN,4,20160420
681047,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,15,28,female,9,20040327
3323217,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,6,22,female,3,20121224
4989297,+++PjrpErQjtjL3byXOTbjGTN+02Pqdrbw9d5rO9lC4=,1,0,NaN,3,20140514
5637190,+++TipL0Kt3JvgNE9ahuJ8o+drJAnQINtxD4c5GePXI=,1,0,NaN,4,20151230
3253890,+++ceu6HDcfpatMwLD3loHSqgjp1iI4VrnAFTwRqcXw=,12,19,male,4,20160426
4528584,+++dz9ZCWE2HB/47pJU82NJXQzQuZDx1Wm50YSk/kKk=,1,0,NaN,4,20160228

In [9]:
src = src.reset_index(drop=True)
src['uid'] = src.index

In [10]:
src[:10]

,msno,city,bd,gender,registered_via,registration_init_time,uid
0,+++4vcS9aMH7KWdfh5git6nA5fC5jjisd5H/NcM++WM=,12,27,female,9,20090619,0
1,+++5EL4GxAvkaQctwqinyuJhkHEofaKoP2EMm0EoRAo=,6,33,male,3,20140416,1
2,+++A5IxXtG7Qtf8jDzxPT3J2urTd5HyB316rrLG6PtU=,1,17,male,3,20140921,2
3,+++EI4HgyhgcJHIPXk/VRP7bt17+2joG39T6oEfJ+tc=,1,0,NaN,4,20160420,3
4,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,15,28,female,9,20040327,4
5,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,6,22,female,3,20121224,5
6,+++PjrpErQjtjL3byXOTbjGTN+02Pqdrbw9d5rO9lC4=,1,0,NaN,3,20140514,6
7,+++TipL0Kt3JvgNE9ahuJ8o+drJAnQINtxD4c5GePXI=,1,0,NaN,4,20151230,7
8,+++ceu6HDcfpatMwLD3loHSqgjp1iI4VrnAFTwRqcXw=,12,19,male,4,20160426,8
9,+++dz9ZCWE2HB/47pJU82NJXQzQuZDx1Wm50YSk/kKk=,1,0,NaN,4,20160228,9

In [19]:
t0 = time.perf_counter()
src.to_csv(dst_dir + dst_members, index=False)
t1 = time.perf_counter()
print('File written in {0:.2f} sec'.format(t1-t0))

File written in 46.33 sec

In [20]:
t0 = time.perf_counter()
src.to_csv(dst_dir + dst_uids, index=False, columns=['msno', 'uid'])
t1 = time.perf_counter()
print('File written in {0:.2f} sec'.format(t1-t0))

File written in 30.24 sec