In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime, time

import modutils

data_dir = '../DataSets/Churn/'

In [4]:
src = pd.read_csv(data_dir + 'transactions.csv')

In [6]:
src.describe()

,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
count,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07
mean,3.893310e+01,3.133906e+01,1.398850e+02,1.419873e+02,8.519661e-01,2.015760e+07,2.015862e+07,3.976523e-02
std,3.507936e+00,3.035649e+01,1.309647e+02,1.324824e+02,3.551336e-01,6.155979e+03,7.755753e+03,1.954072e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015010e+07,1.970010e+07,0.000000e+00
25%,3.800000e+01,3.000000e+01,9.900000e+01,9.900000e+01,1.000000e+00,2.015091e+07,2.015102e+07,0.000000e+00
50%,4.100000e+01,3.000000e+01,1.490000e+02,1.490000e+02,1.000000e+00,2.016032e+07,2.016043e+07,0.000000e+00
75%,4.100000e+01,3.000000e+01,1.490000e+02,1.490000e+02,1.000000e+00,2.016092e+07,2.016103e+07,0.000000e+00
max,4.100000e+01,4.500000e+02,2.000000e+03,2.000000e+03,1.000000e+00,2.017023e+07,2.017033e+07,1.000000e+00

In [7]:
strain = pd.read_csv(data_dir + 'train.csv')

In [9]:
srct = pd.merge(left=src, right=strain, how='inner', on='msno')

In [16]:
srct.groupby('payment_method_id').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

                      msno  is_churn
payment_method_id
41                 9360317  0.031462
40                 1602330  0.041923
39                 1126604  0.036525
37                  814179  0.022520
38                  728658  0.196290
34                  652267  0.010315
36                  583055  0.087098
33                  316393  0.026189
31                  224752  0.009722
30                  109598  0.082109
29                   74180  0.136358
27                   46433  0.031615
35                   37028  0.229475
23                   34009  0.027904
28                   30206  0.217573
32                   29651  0.288995
19                   28746  0.017533
21                   17771  0.032412
18                   13353  0.034524
14                   11974  0.003257
24                    9248  0.034386
16                    7666  0.062223
20                    7044  0.300681
25                    3643  0.203404
22                    3519  0.308326
26                    2786  0.094401
17                    2105  0.402375
11                    1857  0.000000
13                    1348  0.327151
10                    1058  0.000000
12                     833  0.256903
8                      176  0.198864
15                     169  0.443787
5                       67  0.104478
6                       62  0.274194
3                       51  0.294118
2                       10  0.300000
4                        2  0.500000

In [17]:
srct.groupby('payment_plan_days').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

                       msno  is_churn
payment_plan_days
30                 14689730  0.041666
0                    597400  0.029811
31                   470282  0.037529
7                     43939  0.274813
195                   24456  0.269300
410                   13934  0.318430
180                    8917  0.395873
100                    6250  0.290080
120                    6019  0.391926
90                     5798  0.202139
10                     4774  0.489527
1                      2753  0.095532
60                     2734  0.320044
395                    1273  0.500393
200                    1189  0.374264
360                     949  0.536354
14                      595  0.334454
400                     565  0.334513
240                     529  0.402647
35                      258  0.472868
70                      168  0.220238
450                     141  0.574468
80                       97  0.288660
21                       95  0.484211
270                      76  0.144737
99                       67  0.328358
66                       56  0.232143
365                      42  0.571429
230                      25  0.240000
110                      19  0.421053
3                         8  0.750000
15                        4  0.250000
45                        3  0.333333
2                         3  0.666667

In [18]:
srct.groupby('plan_list_price').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

                    msno  is_churn
plan_list_price
149              8810706  0.046757
99               4619665  0.025702
129               953297  0.030035
0                 649915  0.050765
180               522071  0.089775
150               162237  0.123233
100                62498  0.030001
894                24545  0.267142
119                24374  0.047181
1788               13930  0.320244
477                 6827  0.387579
536                 6789  0.429518
480                 5963  0.288781
298                 3302  0.108419
134                 2522  0.041634
120                 2321  0.153382
300                 2087  0.290848
35                  1773  0.371686
1599                1714  0.444574
799                 1189  0.373423
930                 1038  0.373796
447                  981  0.226300
1200                 949  0.536354
699                  540  0.175926
450                  424  0.332547
131                  306  0.000000
500                  292  0.325342
50                   219  0.319635
350                  168  0.220238
1000                 148  0.364865
400                   97  0.288660
105                   50  0.620000
70                    48  0.500000
596                   36  0.083333
1150                  25  0.240000
2000                  21  0.333333
143                   20  0.300000
1                     19  0.736842
126                   17  0.941176
210                   15  1.000000
15                     6  0.666667
10                     3  0.666667
265                    1  1.000000

In [19]:
srct.groupby('is_auto_renew').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

                   msno  is_churn
is_auto_renew
1              14693032  0.031623
0               1190116  0.185637

In [20]:
srct.groupby('is_cancel').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

               msno  is_churn
is_cancel
0          15607143  0.041549
1            276005  0.134443

In [21]:
srct = srct.sort_values(by=['msno','transaction_date'])

In [23]:
srct = srct.reset_index(drop=True)

In [29]:
srct['is_last'] = 1*(srct.msno != srct.msno.shift(-1))
srct['is_first'] = 1*(srct.msno != srct.msno.shift(1))

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,is_churn,is_first,is_last
15883128,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,20160704,20160805,0,1,0,0
15883129,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,20160804,20160905,0,1,0,0
15883130,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,20160904,20161005,0,1,0,0
15883131,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,20161004,20161105,0,1,0,0
15883132,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,20161104,20161205,0,1,0,0
15883133,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,20161204,20170105,0,1,0,0
15883134,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,20170104,20170205,0,1,0,0
15883135,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,20170122,20170123,1,1,0,1
15883136,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160304,20160404,0,1,1,0
15883137,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160404,20160504,0,1,0,0
15883138,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160504,20160604,0,1,0,0
15883139,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160604,20160704,0,1,0,0
15883140,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160704,20160804,0,1,0,0
15883141,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0,1,0,0
15883142,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160904,20161004,0,1,0,0
15883143,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161004,20161104,0,1,0,0
15883144,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0,1,0,0
15883145,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0,1,0,0
15883146,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20170104,20170204,0,1,0,0
15883147,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20170202,20170202,1,1,0,1

In [30]:
srct.to_csv(data_dir + 'tmp_tran.csv', index=False)

In [31]:
srct[srct.is_last==1].to_csv(data_dir + 'tmp_tran_last.csv', index=False)

In [113]:
sr = pd.read_csv(data_dir + 'tmp_tran.csv')

In [118]:
sr['is_plast'] = sr.is_last.shift(-1)*(sr.msno==sr.msno.shift(-1))
sr.is_plast.view()[sr.is_plast.isnull()] = 0
sr.is_plast = sr.is_plast.astype(int)

In [125]:
sr[sr.is_plast+sr.is_last>0].to_csv(data_dir + 'tmp_tran_2last.csv', index=False)

In [132]:
sr['dt_transaction'] = sr.transaction_date.map(lambda x: datetime.date(x//10000,(x//100)%100,x%100))

In [126]:
sr[:10]

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,is_churn,is_first,is_last,is_plast
0,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0,0,1,0,0
1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0,0,0,0,0
2,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20170115,20170215,0,0,0,0,1
3,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20170215,20170315,0,0,0,1,0
4,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150131,20150319,0,0,1,0,0
5,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150228,20150419,0,0,0,0,0
6,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150331,20150519,0,0,0,0,0
7,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,0,0,149,1,20150430,20150619,0,0,0,0,0
8,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,30,149,149,1,20150531,20150719,0,0,0,0,0
9,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,30,149,149,1,20150630,20150819,0,0,0,0,0

In [128]:
sr.groupby('msno').agg({'msno':'count',
                       'payment_method_id':['min','max','median','nunique'],
                       'payment_plan_days':['min','max','median','nunique'],
                       'plan_list_price':['min','max','mean','median'],
                       'is_auto_renew':['mean','sum'],
                       'is_cancel':['mean','sum'],
                       ''})

38

In [130]:
sr

NotImplementedError: 'last' only supports a DatetimeIndex index

In [89]:
def get_transition_stats(df, var):
    df['nxt_'+var] = df[var].shift(-1).fillna(-1)
    df['nxt_'+var].view()[df.is_last==1] = -1
    df['nxt_'+var] = df['nxt_'+var].astype(type(df[var][0]))
    return df.groupby([var, 'nxt_'+var]).agg({'msno':'count', 'is_churn':'mean'}).reset_index().sort_values('msno', ascending=False)

In [93]:
g = get_transition_stats(sr, 'is_auto_renew')
g

   is_auto_renew  nxt_is_auto_renew      msno  is_churn
5              1                  1  13769619  0.031278
1              0                  0    998461  0.179987
3              1                 -1    882746  0.031087
0              0                 -1    110185  0.326986
2              0                  1     81470  0.063704
4              1                  0     40667  0.160105

In [92]:
g = get_transition_stats(sr, 'is_cancel')
g

   is_cancel  nxt_is_cancel      msno  is_churn
1          0              0  14380903  0.039859
0          0             -1    961310  0.040563
2          0              1    264930  0.136878
4          1              0    241525  0.050620
3          1             -1     31621  0.774074
5          1              1      2859  0.141308

In [94]:
g = get_transition_stats(sr, 'payment_plan_days')
g

     payment_plan_days  nxt_payment_plan_days      msno  is_churn
146                 30                     30  13532268  0.040104
137                 30                     -1    969963  0.051849
178                 31                     31    332634  0.037260
8                    0                     30    308072  0.039488
1                    0                      0    287873  0.018567
138                 30                      0    139829  0.050054
171                 31                      0    109048  0.035938
58                   7                     30     33912  0.193648
177                 31                     30     27496  0.043134
142                 30                      7     19766  0.262218
352                195                     30     11518  0.154628
159                 30                    195      8075  0.248421
458                410                     30      7355  0.097213
364                195                    195      6134  0.298500
452                410                     -1      5601  0.594537
54                   7                      7      5468  0.497257
262                 90                     30      4318  0.111163
157                 30                    120      4082  0.350808
311                120                     -1      3938  0.504571
337                180                    180      3715  0.451413
346                195                     -1      3595  0.498192
168                 30                    410      3167  0.279129
292                100                     30      2795  0.206798
85                  10                     10      2481  0.617896
323                180                     -1      2427  0.517923
50                   7                     -1      2303  0.841945
147                 30                     31      2175  0.055172
329                180                     30      2161  0.161499
31                   1                     30      2037  0.066274
155                 30                    100      2033  0.264634
..                 ...                    ...       ...       ...
366                195                    230         1  1.000000
141                 30                      3         1  1.000000
179                 31                     35         1  1.000000
201                 35                    395         1  1.000000
215                 60                     99         1  1.000000
75                   7                    270         1  0.000000
90                  10                     70         1  0.000000
77                   7                    365         1  1.000000
224                 66                     -1         1  0.000000
80                   7                    450         1  1.000000
425                365                    365         1  1.000000
424                365                    195         1  1.000000
82                  10                      1         1  1.000000
422                365                     10         1  1.000000
421                365                      7         1  0.000000
83                  10                      3         1  0.000000
339                180                    200         1  0.000000
92                  10                     99         1  0.000000
113                 14                     70         1  0.000000
222                 60                    360         1  0.000000
341                180                    270         1  1.000000
99                  10                    270         1  1.000000
413                360                     60         1  1.000000
101                 10                    400         1  1.000000
221                 60                    230         1  0.000000
105                 14                      0         1  1.000000
109                 14                     15         1  0.000000
111                 14                     31         1  0.000000
112                 14                     60         1  1.000000
223                 60                    410         1  0.000000

[483 rows x 4 columns]

In [112]:
var = 'is_cancel'
g = get_transition_stats(sr, var)
g['is_equal'] = 1*(g[var]==g['nxt_'+var])
g['is_last'] = 1*(g['nxt_'+var]==-1)
g['num_churn'] = g.is_churn * g.msno
g2 = g.groupby(['is_last','is_equal']).agg({'msno':'sum','num_churn':'sum'}).reset_index().sort_values('msno', ascending=False)
g2['churn'] = g2.num_churn / g2.msno
g2['share'] = g2.msno / g2.msno.sum()
g2

   is_last  is_equal      msno  num_churn     churn     share
1        0         1  14383762   573611.0  0.039879  0.905599
2        1         0    992931    63471.0  0.063923  0.062515
0        0         0    506455    48489.0  0.095742  0.031886

In [42]:
get_val = lambda x: x[0] if len(x) > 0 else 0
matr = np.array([[get_val(g[(g['payment_method_id']==x)&(g['nxt_payment_method_id']==y)].msno.values) for x in list(gd)] for y in list(gd)])

In [49]:
z1 = matr / matr.sum(axis=0)
z2 = matr / matr.sum(axis=1)
z1[np.isnan(z1)] = 0
z2[np.isnan(z2)] = 0

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

In [82]:
g[(g.payment_method_id!=g.nxt_payment_method_id)&(g.nxt_payment_method_id!=-1)].msno.sum()/g.msno[g.payment_method_id!=41].sum()

0.035801786064977